[{cliserv, [
    {server, {cs_handler, [], []}},
    {port, 0}
]},
{sbroker, [
    {brokers, [
        {{local, cs_client},
            {{sbroker_timeout_queue, #{}}, {sbroker_drop_queue, #{}}, []}}
    ]},
    {regulators, [
        {{local, cs_server},
            {{sbroker_timeout_queue, #{}}, {sregulator_rate_valve, #{}}, []}}
    ]}
]}].
